<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.png" type="png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

   
    <script type="text/javascript"  src="animals.js" ></script>
    <title>Google</title>
</head>

<body>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/x-template" id="autocomplete-tpl">
        <div class="autocomplete">
          <label :for="id">{{label}}</label>
          <textarea v-if="textarea" :id="id" :rows="rows" :cols="cols" class="searchInput" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue"
            type="text"></textarea>
          <input v-else :id="id" class="searchInput" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue" type="text">
    
    
          <ul :class="{
            'autocomplete-list': true,
            [id+'-list']: true
          }" v-if="searchMatch.length > 0">
            <li :class="{active: selectedIndex === index}" v-for="(result, index) in searchMatch" @click="selectItem(index), chooseItem()" v-html="highlightWord(result)">
    
            </li>
          </ul>
        </div>
    </script>



    <header>
        <nav>
            <a href="https://mail.google.com/mail/?tab=wm">Gmail</a>
            <a href="https://www.google.pl/imghp?hl=pl&tab=wi">Grafika</a>
            <a href="https://www.google.pl/intl/uk/about/products?tab=wh"><i class="fa fa-th fa-lg" aria-hidden="true"></i></a>
            <a class="login mdc-ripple-surface foo-button " href="https://accounts.google.com/ServiceLogin?hl=uk&passive=true&continue=https://www.google.com.ua/">Zaloguj
                się</a>
        </nav>
    </header>
    <main>
        <div class="GoogleLogo"></div>

        <div class="searchBar">
            <div class="KeyBoardInput"> <i class="fa fa-search search-icon icon" aria-hidden="true"></i></div>
            <!--<input class="searchInput" type="text" id="query" name="search">-->
            <div id="app">
   
        
                    <autocomplete />
                   
                </div>


            <div class="KeyBoardInput show"> <i class="fa fa-keyboard icon" aria-hidden="true"></i>

                <div class="help">
                    <div class="helpKeyTringl"></div>
                    <div class="helpKey">Narzędzia do wprowadzania tekstu</div>
                </div>
            </div>
            <div class="KeyBoardInput"> <i class="fa fa-microphone icon" aria-hidden="true"></i></div>
        </div>



        <div class="searchButtons">
            <a class="mdc-ripple-surface foo-button  button" id="btn" href="#">Szukaj w Google</a>
            <a class="mdc-ripple-surface foo-button  button" href="#">Szczęśliwy traf</a>
        </div>

      
    </main>


      <script type="text/javascript"  src="vue.js"></script>





    <footer>

        <p>Polska</p>
        <div class="footerLink">
            <a href="#">Reklamuj się</a>
            <a href="#">Dla firm</a>
            <a href="#">O nas</a>
            <span class="childLink"></span>
            <a href="#">Prywatność</a>
            <a href="#">Warunki</a>
            <a href="#">Ustawienia</a>
        </div>


    </footer>
    <script>
        document.getElementById("btn").addEventListener("click", search);

        function search() {

            var query = document.getElementById("query").value;
            if (query) location.href = 'https://www.google.pl/search?q=' + query;
        }
    </script>
    <script>
        const buttons = document.querySelectorAll('.foo-button');
        for (const button of buttons) {
            mdc.ripple.MDCRipple.attachTo(button);
        }
    </script>

</body>

</html>